/Acces a dades/ADT_Reto1JosepCliment/target/
/Acces a dades/ADT_Practica4/target/
/Acces a dades/PaletaInterfaz/nbproject/private/
/Acces a dades/PaletaInterfaz/build/
/Acces a dades/ADT8_Practica2/nbproject/private/
/Acces a dades/ADT8_Practica2/build/